body {
  margin: 0;
  padding: 0;
}

/* Horizontal Navbar */
.topnav {
  background-color: #9BC675;
  overflow: hidden;
}

.topnav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  float: left;
}

.favicon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

input[type="text"] {
  margin-top: 14px;
  margin-right: 20px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.profile {
  float: right;
}

/* Vertical Navbar */
.sidebar {
  height: calc(100vh - 50px); /* Subtract height of horizontal navbar */
  width: 200px;
  position: fixed;
  left: 0;
  top: 50px; /* Position vertical navbar below horizontal navbar */
  background-color: #9BC675;
  padding-top: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #000000;
}

.sidebar a.profile {
  margin-top: auto; /* Pushes the profile link to the bottom */
}
